[submodule "config/zsh/zsh-syntax-highlighting"]
	path = config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config/zsh/zsh-autosuggestions"]
	path = config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "config/nvim/bundle/nerdtree"]
	path = config/nvim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "config/nvim/bundle/vim-gitgutter"]
	path = config/nvim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "config/nvim/bundle/vim-surround"]
	path = config/nvim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "config/nvim/bundle/vim-sensible"]
	path = config/nvim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "config/nvim/bundle/Vundle.vim"]
	path = config/nvim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "config/Franz/Plugins"]
	path = config/Franz/Plugins
	url = https://github.com/meetfranz/plugins
[submodule "config/nvim/bundle/dash.vim"]
	path = config/nvim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "config/nvim/bundle/vim-javascript"]
	path = config/nvim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "config/nvim/bundle/vim-jsx"]
	path = config/nvim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
